@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");

.App {
  font-family: "Paprika", cursive;
  text-align: center;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App > div {
  flex-basis: 75%;
}

.description {
  display: flex;
  margin-left: 10px;
}

.description div {
  display: flex;
  align-items: center;
}

.description div p {
  background-color: #d62957;
  color: #fff;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(230, 228, 240, 1);
  line-height: 2.5em;
}

@media only screen and (max-width: 600px) {
  .App > div {
    flex-basis: 100%;
  }
}
